package view

import "github.com/mstgnz/starter-kit/web/service/localization"

templ header() {
	<h1>Header</h1>
	<a href={ templ.SafeURL(localization.GetLang("routes.home")) }>{ localization.GetLang("home") }</a>
}
